{% extends "bootstrap/base.html" %}
{% block title %}
    New Group
{% endblock %}
{% block content %}
<div class="container" >
    <h1>New group for new project</h1>
    <p>Project Name:</p>{{pName}}
    <p>Project Description:</p>{{pDesc}}</textarea>
    <p><h2>Choose students:</h2></p>
    <form method="post">
        <select multiple name="talmid" class="form-control">
            {% for student in students %}
                 <option id="talmid"  value="{{student.name}}">{{student.name}}</option><br>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
</div>
{% endblock %}
