{% extends "bootstrap/base.html" %}
{% block title %}
    Report
{% endblock %}
{% block content %}
{% if rep!=[] %}
<div class="container" >
    <table class="table-bordered">
    <thead>
      <tr>
        <th>Projects</th>
        <th>Students</th>
        <th>Equipment</th>
      </tr>
    </thead>
        {% for r in rep %}
            {% if loop.index0 % 3 ==0 %}
            <tr>
            <td><a href = "{{url_for('editProject',projectName = r )}}">{{ r }}</a> </td>
            {% elif loop.index0 % 3 ==1 %}
            <td> {{ ','.join(r) }}</td>
            {% elif loop.index0 % 3 ==2 %}
            <td> {{ ','.join(r) }}</td></tr>
            {% endif %}
        {% endfor %}
        </table><br>
        <h3>To edit a project please press the left mouse button on its name.</h3>
    {% else %}
    <h4>You haven't define projects yet!</h4>
    {% endif %}
        <form action="/fillProject" >
            <button type='submit' class="btn btn-primary">New Project</button>
        </form><br>
        <form action="/secret-page" >
            <button type='submit' class="btn btn-primary">Grade Project</button>
        </form>
</div>
    {% endblock %}
