{% extends "bootstrap/base.html" %}
{% block title %}
    Report
{% endblock %}
{% block content %}
    <table class="table-bordered">
    <thead>
      <tr>
        <th>Projects</th>
        <th>Students</th>
        <th>Equipment</th>
      </tr>
    </thead>
        {% for r in rep %}
            {% if loop.index0 % 3 ==0 %}
            <tr>
            <td> {{ ','.join(r) }}</td>
            {% elif loop.index0 % 3 ==1 %}
            <td> {{ ','.join(r) }}</td>
            {% elif loop.index0 % 3 ==2 %}
            <td> {{ ','.join(r) }}</td></tr>
            {% endif %}
        {% endfor %}
        </table>
        <form action="/fillProject" >
        <button type='submit' class="btn btn-primary">New Project</button>
        </form>
    {% endblock %}
