{% extends "bootstrap/base.html" %}
{% block title %}
    Report
{% endblock %}
{% block content %}
        <h4>Projects:</h4>
        {% for r in rep %}
            {% if loop.index0 % 3 ==0 %}
            <p><b>Name:</b> {{ ','.join(r) }}</p>
            {% elif loop.index0 % 3 ==1 %}
            <p><b>Students:</b> {{ ','.join(r) }}</p>
            {% elif loop.index0 % 3 ==2 %}
            <p><b>Equipment:</b> {{ ','.join(r) }}</p>
            {% endif %}
        {% endfor %}

        <form action="/fillProject" >
        <button type='submit' class="btn btn-primary">New Project</button>
        </form>
{% endblock %}
