{% extends "bootstrap/base.html" %}
{% block title %}
    Report
{% endblock %}
{% block content %}
<div class="container" >
    <table class="table-bordered">
    <thead>
      <tr>
        <th>Projects</th>
        <th>Guide Name</th>
        <th>Grade</th>
      </tr>
    </thead>
        {% for p in projects %}
            <tr>
            <td><a href = "{{url_for('gradeProject',projectName = p.name )}}">{{ p.name }}</a> </td>
            <td> {{ p.guide }}</td>
            <td> {{ p.grade }}</td></tr>
        {% endfor %}
        </table>
    <h3>To grade a project please press the left mouse button on its name.</h3>
</div>
    {% endblock %}
